body{
	margin:0;
}
h1 {
	font-size:15px;
	text-align: left;
	margin: 0;
	padding:5px;
	color: white;
}
i {
	color: gray;
}
.container{
	background-color: black;
}
.up-column {
	display: grid;
	grid-template-columns: 150px 1fr;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
}
.right-row {
	text-align: right;
}
#openCloseHandler {
	font-size:13px;
	padding:3px;
}
.down-column {
	display: grid;
	grid-template-columns: 200px 1fr;
}
#menuHandler {
	font-size:25px;
	padding:15px;
}
.down-right-row{
	padding-right:20px;
	padding-top: 15px;
	text-align: right;
}
#set {
	margin: 5px;
}
.find{
	border-bottom:0.5px solid gray;
	padding:5px;
}
input {
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 160px;
}
#find-icon{
	padding:10px;
}
#font{
	font-size:13px;
	margin-left :10px;
	padding:10px;
	border-bottom:0.5px solid gray;
}
.my-info{
	display: grid;
	grid-template-columns: 70px 1fr 1fr;
}
#my-name{
	padding-top:23px;
	font-weight: bold;
}
#my-profile{
	padding:10px;
}
img{
	width:50px;
	height:48px;
}
#my-con{
	text-align: right;
	padding:27px;
	font-size:13px;
	color: gray;
}
.fr-info{
	display: grid;
	grid-template-columns: 70px 1fr 1fr;
	height: 55px;
}
.friend{
	
}